@model WebCoreAppFramework.ViewModels.UserDetailsViewModel

@*@{
    ViewData["Title"] = "Edit";
}

<h4>Edit - @Model.UserName</h4>


<hr />*@


<div class="modal fade" id="Edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-area="SiteAdmin" asp-controller="User" asp-action="Edit">
                <div class="modal-header">
                    <h5 class="modal-title">Cadastrar Novo Fornecedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <div class="row">
                            <div class="col form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="TwoFactorEnabled" /><b>@Html.DisplayNameFor(model => model.TwoFactorEnabled)</b>
                                </label>
                            </div>
                            <div class="col form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="PhoneNumberConfirmed" /> <b>@Html.DisplayNameFor(model => model.PhoneNumberConfirmed)</b>
                                </label>
                            </div>
                            <div class="col form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="EmailConfirmed" /> <b>@Html.DisplayNameFor(model => model.EmailConfirmed)</b>
                                </label>
                            </div>
                            <div class="col form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="LockoutEnabled" /> <b>@Html.DisplayNameFor(model => model.LockoutEnabled)</b>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <b><label asp-for="LockoutEnd" class="col control-label"></label></b><text class="col">: @Model.LockoutEnd</text>


                            <b><label asp-for="AccessFailedCount" class="col control-label"></label></b><text class="col">: @Model.AccessFailedCount</text>

                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fechar</button>
                    <input type="submit" value="Salvar" class="btn btn-outline-success">
                </div>

            </form>
        </div>
    </div>
</div>


@*<form asp-action="Edit">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <div class="row">
            <div class="col form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TwoFactorEnabled" /><b>@Html.DisplayNameFor(model => model.TwoFactorEnabled)</b>
                </label>
            </div>
            <div class="col form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PhoneNumberConfirmed" /> <b>@Html.DisplayNameFor(model => model.PhoneNumberConfirmed)</b>
                </label>
            </div>
            <div class="col form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmailConfirmed" /> <b>@Html.DisplayNameFor(model => model.EmailConfirmed)</b>
                </label>
            </div>
            <div class="col form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LockoutEnabled" /> <b>@Html.DisplayNameFor(model => model.LockoutEnabled)</b>
                </label>
            </div>
        </div>
        <hr />
        <div class="row">
            <b><label asp-for="LockoutEnd" class="col control-label"></label></b><text class="col">: @Model.LockoutEnd</text>


            <b><label asp-for="AccessFailedCount" class="col control-label"></label></b><text class="col">: @Model.AccessFailedCount</text>

        </div>
        <hr />
        <div class="">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <hr />
    </div>
</form>



<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
