@model IEnumerable<WebCoreAppFramework.ViewModels.UserIndexViewModel>

@{
    ViewData["Title"] = "Index";
}


<div class="row mx-md-n5">
    <div class="col-9 px-md-5"><h1>Index</h1></div>
    <div class="col-3 px-md-5 py-md-2"><a class="float-right btn btn-primary" asp-action="Create" role="button">Create New</a></div>
</div>

<div class="table table-responsive-sm clearfix">
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th class="col-sm-4">
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th class="col-sm-4">
                    @Html.DisplayNameFor(model => model.UserRoles)
                </th>
                <th class="col-sm-4 text-right">
                    Commands
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-sm-4">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td class="col-sm-4">
                        @foreach (var userrole in item.UserRoles)
                        {
                            @Html.DisplayFor(modelItem => userrole.Name);
                        }
                    </td>
                    <td class="col-sm-2">

                        <div class="btn-group btn-group-sm">
                            <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-info fas fa-edit" data-toggle="modal" data-target="#Edit" role="button"></a>
                            <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-primary fas fa-info-circle" role="button"></a>
                            <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger fas fa-trash-alt" role="button"></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

  

