@model WebCoreAppFramework.ViewModels.UserDetailsViewModel

@{
    ViewData["Title"] = "UserDetails";
}

<h1>UserDetails</h1>

<div>
    <h4>UserDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LockoutEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LockoutEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
